.App {
  text-align: center;
  font-family: Helvetica, sans-serif
}

span {
  display: block;
}

.form-span {
  margin: 10px;
}

.form-span label {
  display: inline-block;
  width: 150px;
}

.form-submit-btn {
  text-align: center;
  width: 150px;
  padding: 5px 10px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  left: 75px;
  top: 10px;
  
}

.is-admin-span{
  margin-top: 10px;
}

.is-admin-span:nth-child(2) {
  position: absolute;
  left: 588px;
}

.is-admin {
  position: absolute;
  left: 482px;
}

.span-label {
  position: relative;
  left: -6px;
  margin-bottom: 10px;
  margin-top: 10px;
}


.span-label-services:nth-child(2) {
  width:150px;
}