body {
    background: linear-gradient(90deg, rgba(255,158,120,1) 29%, rgba(220,249,255,1) 100%);
}
.register-form {
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    color: #343131;
}


.register-fieldset {
    margin: 20px auto;
    width: 800px;
    border: 2px solid #5d3b3b;
    padding-left: 40px;
    border-radius: 4px;

}

.register-legend {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.register-label {
    display: inline-block;
    width: 200px;
    margin-right: 30px;
}

.register-input {
    width: 300px;
    height: 36px;
}

.field {
    margin: 30px 20px;
}

.check-span {
    width: 200px;
    display: inline-block;
    margin-right: 30px;
  
}

.label-check {
    width: auto;
    margin-right: 10px;
}

.check-input.female{
  margin-right: 30px;
}

.check-input {
    width: 25px;
    height: 25px;
}

.register-btn {
    width: 300px;
    height: 37.3px;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    position: relative;
    left: 250px;
    color: #343131;
    background: #e6f5e5;
    border: none;
    box-shadow: 0px 0px 6px -2px black;
    border-radius: 8px;
    margin-top: 50px;
}

.register-btn:hover {
    background-color: rgb(100, 33, 33);
    color: white;
    border:none;
}