.details-headline {
margin-bottom: 30px;
}

.details-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;

}

.details-image, .details-text {
    flex-shrink: 1;
    flex-basis: 45%;
}

.details-img {
width:100%
}

.details-buttons {
    margin: 2em 2em 0 auto;
}

.details-btn {
    width: 100px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 30px;
    background: #e0d7d7;
    border-radius: 6px;
    color: black;
}

.details-btn:hover {
    cursor: pointer;
    background: rgb(148, 148, 197);
    color: white;
}