label {
    font-size: 20px;
    margin-right: 5px;
}

.todo-item {
    color: darkblue;
    margin-bottom: 4px;
    font-size: 20px;
}

.todo-item-done {
    text-decoration: line-through;
    font-weight: bold;
    color: darkred;
    font-style: italic;
}

.list-item-btn {
    margin-left: 15px;
    padding:2px 10px;
    font-weight: bold;
}